<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dad jokes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body background="/image/meme-face-transparent-background-13">

    <header>
     <span><img src="/image/meme-face-transparent-background-13.png" alt="" height="300px" width="250px"></span>
    Dad Jokesss
    </header>


    <form action="/save" method="POST">
        <textarea name="jokebody" id="" cols="30" rows="10"></textarea>
        <textarea name="jokeanswer" id="" cols="30" rows="10"></textarea>
        <input type="number" name="userid" id="">
        <br>
        <button type="submit"> ipasa na </button>
    </form>

    <div class="button"> 
        Back to Jokes
        <a href="/"> see answer</a>
    </div>
    


</body>
</html>